.flex {
  display: flex;
}

.flex-y {
  flex-direction: column;
  > * + * {
    margin-top: spacing(1);
  }
}

.flex-x {
  flex-direction: row;
  align-items: center;
  > * + * {
    margin-left: spacing(1);
  }
}
