.text-display2 {
  font-size: get("font.size.2xl");
  font-weight: get("font.weight.bold");
  letter-spacing: -1px;
}

.text-display {
  font-size: get("font.size.xl");
  font-weight: get("font.weight.semibold");
}

.text-title {
  font-size: get("font.size.lg");
  font-weight: get("font.weight.medium");
}

.text-body {
  font-size: get("font.size.base");
}

.text-caption {
  font-size: get("font.size.sm");
}

.text-category {
  font-size: get("font.size.xs");
  font-weight: get("font.weight.semibold");
  color: get("colors.gray.700");
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.text-muted {
  font-size: get("font.size.xs");
  color: get("colors.gray.700");
}

.text-link {
  color: get("colors.blue.600");
}

.text-link:hover {
  color: get("colors.blue.800");
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-medium {
  font-weight: get("font.weight.medium");
}

.text-semibold {
  font-weight: get("font.weight.semibold");
}

.text-bold {
  font-weight: get("font.weight.bold");
}

.uppercase {
  text-transform: uppercase;
}
