@import "~@fider/assets/styles/variables.scss";

.c-form {
  position: relative;
  max-width: 100%;

  &.m-mini {
    font-size: 80%;
    input[type="text"],
    textarea,
    select {
      padding: sizing(2);
    }
  }
}

.c-form-field {
  clear: both;
  margin: 0 0 10px;

  &.m-checkbox {
    label {
      font-weight: initial;
    }
    input[type="checkbox"] {
      vertical-align: middle;
      margin: 0 5px 3px 0;
    }
  }

  label {
    display: block;
    font-size: get("font.size.sm");
    margin: 0 0 5px;
    font-weight: 500;
  }

  .c-form-field-wrapper {
    position: relative;
    margin: 0 0 5px;
  }

  select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
  }

  input[type="text"],
  textarea,
  select {
    font-size: get("font.size.sm");
    line-height: 20px;
    background-color: get("colors.white");
    width: 100%;
    padding: sizing(2);
    margin: 0;
    resize: none !important;
    border: 1px solid get("colors.gray.300");
    border-radius: get("border.radius.medium");

    &:disabled {
      opacity: 0.45;
      cursor: not-allowed;
    }

    & + svg,
    & + img {
      position: absolute;
      position: absolute;
      width: 36px;
      padding: 8px;
      margin: 0;
      top: 0;
      right: 0;
    }
  }

  &.m-error {
    input[type="text"],
    textarea,
    select {
      border-color: get("colors.red.600");
    }
  }

  &.m-icon {
    input[type="text"] {
      padding-right: 35px;
    }
  }

  &.m-suffix {
    .c-form-field-wrapper {
      display: inline-flex;
      width: 100%;
    }
    .c-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    input[type="text"] {
      max-width: 100%;
      width: auto;
      flex: 1 0 auto;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .c-form-input-suffix {
      font-size: get("font.size.sm");
      line-height: 20px;
      flex: 0 0 auto;
      padding: 8px 10px 9px 10px;
      font-weight: 600;
      background-color: get("colors.gray.200");
      border-top-right-radius: get("border.radius.medium");
      border-bottom-right-radius: get("border.radius.medium");
    }
  }

  .c-form-radio-option {
    label {
      display: inline-block;
      margin-left: 5px;
      font-size: $font-size-small;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

.c-form-field-error {
  color: get("colors.red.600");
  font-size: $font-size-small;
  margin: 0 0 10px 0;
  ul {
    list-style: none;
    padding-left: sizing(1);
    margin: 0;
  }
}

::placeholder {
  color: get("colors.gray.500");
  opacity: 1;
}

:-ms-input-placeholder {
  color: get("colors.gray.500");
}

::-ms-input-placeholder {
  color: get("colors.gray.500");
}
