@import "~@fider/assets/styles/variables.scss";

.c-button {
  line-height: 1.15;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: $font-size-base;
  border-radius: 3px;
  border: none;
  margin: 0 4px 0 0;
  padding: 8px 16px;
  font-weight: 600;

  svg + * {
    margin-left: spacing(1);
  }

  &.m-cancel {
    background-color: transparent;

    &:hover {
      text-decoration: underline;
    }
  }

  &.m-default {
    color: get("colors.gray.900");
    background-color: get("colors.gray.100");
    border: 1px solid get("colors.gray.300");

    &:hover {
      border: 1px solid get("colors.gray.500");
    }
  }

  &.m-positive {
    color: get("colors.white");
    background-color: get("colors.green.500");
    border: 1px solid get("colors.green.500");

    &:hover {
      background-color: get("colors.green.700");
      border-color: get("colors.green.700");
    }
  }

  &.m-danger {
    color: get("colors.red.500");
    border: 1px solid get("colors.gray.300");
    background-color: get("colors.white");

    &:hover {
      color: get("colors.white");
      border: 1px solid get("colors.red.500");
      background-color: get("colors.red.500");
    }
  }

  &.m-mini {
    padding: 6px 12px;
    font-size: $font-size-tiny;

    svg {
      height: sizing(2);
    }
  }

  &.m-tiny {
    padding: 7px 14px;
    font-size: $font-size-tiny;

    svg {
      height: sizing(3);
    }
  }

  &.m-small {
    padding: 8px 16px;
    font-size: $font-size-small;

    svg {
      height: sizing(4);
    }
  }

  &.m-normal {
    padding: 9px 18px;
    font-size: $font-size-base;

    svg {
      height: sizing(4);
    }
  }

  &.m-large {
    padding: 10px 20px;
    font-size: $font-size-large;

    svg {
      height: sizing(5);
    }
  }

  &.m-fluid {
    width: 100%;
  }

  &.m-loading {
    position: relative;
    cursor: default;
    text-shadow: none !important;
    color: transparent !important;
    opacity: 1;
    pointer-events: auto;
    transition: all 0s linear, opacity 0.1s ease;

    &:before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      margin: -0.64285714em 0 0 -0.64285714em;
      width: 1.28571429em;
      height: 1.28571429em;
      border-radius: 500rem;
      border: 0.2em solid get("colors.gray.500");
    }

    &:after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      margin: -0.64285714em 0 0 -0.64285714em;
      width: 1.28571429em;
      height: 1.28571429em;
      animation: button-spin 0.6s linear;
      animation-iteration-count: infinite;
      border-radius: 500rem;
      border-color: get("colors.white") transparent transparent;
      border-style: solid;
      border-width: 0.2em;
      box-shadow: 0 0 0 1px transparent;
    }
  }

  &.m-disabled {
    @include disabled();
  }

  &.m-social {
    background-color: get("colors.white");
    color: get("colors.gray.900");
    text-align: center;
    height: 40px;
    line-height: 22px;
    padding: 8px 0px;
    border: none;
    box-shadow: 0 0 0 1px get("colors.gray.300");

    &.m-loading img {
      display: none;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }

    &:hover {
      color: get("colors.gray.900");
      border: none;
      box-shadow: 0 0 0 1px get("colors.gray.400");
    }
  }
}

@keyframes button-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
