@import "~@fider/assets/styles/variables.scss";

.c-button {
  line-height: 1.15;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: $font-size-base;
  border-radius: 4px;
  border: none;
  margin: 0 4px 0 0;
  padding: 8px 16px;
  font-weight: 600;

  svg + *,
  img + * {
    margin-left: spacing(1);
  }

  &--tertiary {
    background-color: transparent;

    &:hover {
      text-decoration: underline;
    }
  }

  &--secondary {
    color: get("colors.gray.900");
    background-color: get("colors.gray.50");
    border: 1px solid get("colors.gray.300");

    &:hover {
      background-color: get("colors.gray.100");
    }
  }

  &--primary {
    color: get("colors.white");
    background-color: get("colors.primary.base");
    border: 1px solid get("colors.primary.base");

    &:hover {
      background-color: get("colors.primary.dark");
    }
  }

  &--danger {
    color: get("colors.red.600");
    border: 1px solid get("colors.gray.300");
    background-color: get("colors.white");

    &:hover {
      color: get("colors.white");
      border: 1px solid get("colors.red.600");
      background-color: get("colors.red.600");
    }
  }

  &--mini {
    padding: 6px 12px;
    font-size: $font-size-tiny;

    svg,
    img {
      height: sizing(2);
    }
  }

  &--tiny {
    padding: 7px 14px;
    font-size: $font-size-tiny;

    svg,
    img {
      height: sizing(3);
    }
  }

  &--small {
    padding: 8px 16px;
    font-size: $font-size-small;

    svg,
    img {
      height: sizing(4);
    }
  }

  &--normal {
    padding: 9px 18px;
    font-size: $font-size-base;

    svg,
    img {
      height: sizing(4);
    }
  }

  &--large {
    padding: 10px 20px;
    font-size: $font-size-large;

    svg,
    img {
      height: sizing(5);
    }
  }

  &--loading {
    position: relative;
    cursor: default;
    text-shadow: none !important;
    color: transparent !important;
    opacity: 1;
    pointer-events: auto;
    transition: all 0s linear, opacity 0.1s ease;

    &:before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      margin: -0.64285714em 0 0 -0.64285714em;
      width: 1.28571429em;
      height: 1.28571429em;
      border-radius: 500rem;
      border: 0.2em solid get("colors.gray.500");
    }

    &:after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      margin: -0.64285714em 0 0 -0.64285714em;
      width: 1.28571429em;
      height: 1.28571429em;
      animation: button-spin 0.6s linear;
      animation-iteration-count: infinite;
      border-radius: 500rem;
      border-color: get("colors.white") transparent transparent;
      border-style: solid;
      border-width: 0.2em;
      box-shadow: 0 0 0 1px transparent;
    }
  }

  &--disabled {
    @include disabled();
  }
}

@keyframes button-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
