@import "~@fider/assets/styles/variables.scss";

.c-dropdown2 {
  display: inline-block;
  position: relative;

  &__handle {
    text-align: left;
    background-color: get("colors.white");
    border: none;
    padding: 0;
    cursor: pointer;
  }

  &__list {
    font-size: get("font.size.sm");
    margin-top: spacing(2);
    position: absolute;
    overflow: auto;
    width: max-content;
    min-width: sizing(40);
    max-width: sizing(60);
    max-height: 15rem;
    padding: spacing(1) 0;
    background-color: get("colors.white");
    border-radius: get("border.radius.medium");
    border: 1px solid get("colors.gray.300");
    z-index: 10;

    &--left {
      right: 0;
    }
  }

  &__listitem {
    padding: spacing(2);
    &:hover {
      cursor: pointer;
      background-color: get("colors.gray.100");
    }
  }

  &__divider {
    margin: spacing(1);
    background-color: get("colors.gray.200");
    height: 1px;
    border: none;
  }
}
