@import "~@fider/assets/styles/variables.scss";

.c-heading {
  margin: 0px 0px 10px 0px;

  .c-heading-content {
    display: inline-block;
    vertical-align: middle;

    .c-heading-subtitle {
      font-weight: 400;
      margin-top: 5px;
      color: get("colors.gray.700");
      font-size: $font-size;
    }
  }
}
