@import "~@fider/assets/styles/variables.scss";

.c-hint {
  position: relative;
  padding: 12px;
  margin-bottom: 8px;
  color: get("colors.blue.800");
  border-left: 2px solid get("colors.blue.800");
  background-color: get("colors.blue.50");

  svg {
    width: 18px;
  }

  svg.c-hint-close {
    position: absolute;
    cursor: pointer;
    right: 12px;
    top: 12px;
  }
}
