@import "~@fider/assets/styles/variables.scss";

.c-message {
  padding: spacing(3);
  margin-bottom: spacing(2);

  svg,
  img {
    width: sizing(5);
  }

  &.m-success {
    color: get("colors.green.800");
    border-left: 2px solid get("colors.green.800");
    background-color: get("colors.green.50");
  }

  &.m-warning {
    color: get("colors.yellow.800");
    border-left: 2px solid get("colors.yellow.800");
    background-color: get("colors.yellow.50");
  }

  &.m-error {
    color: get("colors.red.800");
    border-left: 2px solid get("colors.red.800");
    background-color: get("colors.red.50");
  }
}
