@import "~@fider/assets/styles/variables.scss";

.c-powered {
  text-align: center;
  display: block;
  margin-top: 20px;

  a {
    color: get("colors.gray.700");
    font-size: $font-size-tiny;
  }
  a:hover {
    color: get("colors.gray.900");
  }
}
