@import "~@fider/assets/styles/variables.scss";

.c-vote-counter {
  margin-right: 10px;

  button,
  button.m-voted,
  button.m-disabled {
    font-size: 18px;
    border: none;
    width: 45px;
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    margin: 0 auto;
    padding: 0 0;
    color: get("colors.gray.700");
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  svg {
    color: get("colors.gray.400");
    margin-bottom: -2px;
  }

  button.m-voted {
    color: get("colors.primary");
    svg {
      color: get("colors.primary");
    }
  }

  button.m-disabled {
    @include disabled();
    cursor: not-allowed;
  }
}
