@import "~@fider/assets/styles/variables.scss";

#p-my-settings {
  #confirmation-modal {
    text-align: center;
  }

  .notifications-settings {
    margin-bottom: 15px;
    .event-title {
      display: block;
      margin-bottom: 5px;
      font-weight: 600;
    }
  }

  .l-danger-zone {
    h4 {
      margin-top: 50px;
      color: get("colors.red.400");
    }
  }

  .l-api-key {
    h4 {
      margin-top: 50px;
    }
    code {
      padding: 5px;
      background-color: get("colors.gray.200");
    }
  }
}
