/*******************************
             Text
*******************************/

p {
  margin: 0 0 14px;
  line-height: 1.5;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  li {
    line-height: 1.38;
  }
}

/*******************************
             Stauses
*******************************/

.status-label {
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
  font-weight: 600;
  font-size: $font-size-tiny;
}

.status-open {
  color: get("colors.gray.900");
}

.status-planned {
  color: #6435c9;
}

.status-started {
  color: #2185d0;
}

.status-completed {
  color: #21ba45;
}

.status-declined {
  color: #db2828;
}

.status-duplicate {
  color: #d6a100;
}

/*******************************
             Others
*******************************/

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

*:focus {
  outline: 0;
  box-shadow: 0 0 1px 2px get("colors.primary.light") !important;
  transition: all 0.3s ease;
}

.page {
  padding-top: spacing(4);
  padding-bottom: spacing(4);
}

@include media("sm") {
  .page {
    width: calc(100vw - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
}

noscript {
  margin-top: 20px;
}

code {
  font-family: $font-code;
}

body,
h1,
h2,
h3,
h4,
h5,
input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.right {
  float: right;
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
  pointer-events: inherit;
}

.markdown-body {
  overflow-wrap: break-word;
  word-break: break-word;

  blockquote {
    padding: 0 8px;
    color: get("colors.gray.900");
    border-left: 4px solid get("colors.gray.300");
    margin: 5px 0;
  }

  ul,
  ol {
    padding-left: 30px;
    margin: 0 0 14px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    max-width: 100%;
  }

  pre {
    overflow-x: scroll;
    padding: 16px;
    line-height: 1.45;
    background-color: get("colors.gray.100");
    border-radius: 4px;
    code {
      display: inline;
      max-width: auto;
      padding: 0;
      margin: 0;
      overflow: visible;
      line-height: inherit;
      word-wrap: normal;
      background-color: transparent;
      border: 0;
    }
  }
  code {
    padding: 0.2em;
    font-size: 85%;
    margin: 0;
    background-color: get("colors.gray.100");
    border-radius: 4px;
  }
}

.inline.dropdown {
  > .text {
    border-bottom: 1px dashed #9e9e9e;
  }
}

.failure-page {
  height: 60%;
  text-align: center;
  margin-top: 100px;
  max-width: 800px !important;
  p {
    font-size: 130%;
    line-height: 30px;
  }
  h1 {
    font-size: 180%;
    color: #3b4450;
  }
  img {
    max-height: 100px;
    max-width: 100px;
  }
  .l-browser-list {
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
    a {
      display: block;
    }
    .browser-logo {
      margin-right: 10px;
      vertical-align: middle;
      width: 48px;
      height: 48px;
    }
    .browser-name {
      font-weight: bold;
    }
    .browser-download {
      float: right;
      line-height: 48px;
    }
  }
}

.legal-page {
  max-width: 800px !important;
  padding: 50px 0;
  h1 {
    margin-bottom: 30px;
  }
  p {
    line-height: 150%;
  }

  table {
    tr {
      th {
        padding: 5px;
        border-bottom: 1px solid get("colors.gray.400");
        background-color: get("colors.gray.200");
      }
      td {
        border-bottom: 1px solid get("colors.gray.400");
        padding: 5px;
      }
    }
  }
}

.c-toast {
  border-radius: 5px !important;
}
