@import "_functions";
@import "_colors";
@import "_spacing";
@import "_sizing";
@import "_text";

$all: (
  colors: $colors,
  font: $font,
);

// Queries
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;

@mixin media($media) {
  @if $media == "sm" {
    @media only screen and (max-width: #{$md-width - 0.1px}) {
      @content;
    }
  } @else if $media == ">=sm" {
    @media only screen and (min-width: #{$sm-width}) {
      @content;
    }
  } @else if $media == "<=md" {
    @media only screen and (max-width: #{$lg-width - 0.1px}) {
      @content;
    }
  } @else if $media == "md" {
    @media only screen and (min-width: #{$md-width}) and (max-width: #{$lg-width - 0.1px}) {
      @content;
    }
  } @else if $media == ">=md" {
    @media only screen and (min-width: #{$md-width}) {
      @content;
    }
  } @else if $media == "<lg" {
    @media only screen and (max-width: #{$xl-width - 0.1px}) {
      @content;
    }
  } @else if $media == "lg" {
    @media only screen and (min-width: #{$lg-width}) and (max-width: #{$xl-width - 0.1px}) {
      @content;
    }
  } @else if $media == ">=lg" {
    @media only screen and (min-width: #{$lg-width}) {
      @content;
    }
  } @else if $media == "xl" {
    @media only screen and (min-width: #{$xl-width}) {
      @content;
    }
  }
}

@mixin disabled() {
  cursor: not-allowed;
  opacity: 0.45 !important;
  background-image: none !important;
  box-shadow: none !important;
  pointer-events: none !important;
}
