@import "~@fider/assets/styles/variables.scss";

#p-ui-toolkit {
  .color-scale {
    margin-bottom: 4px;
  }

  .color {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 4px;
    border-radius: 4px;

    @each $name, $shades in $colors {
      @each $shade, $color in $shades {
        &.#{$name}-#{$shade} {
          background-color: $color;
        }
      }
    }
  }

  .c-tag {
    margin-right: 5px;
  }
}
