@import "~@fider/assets/styles/variables.scss";

#p-show-post {
  .post-header {
    flex-grow: 1;
  }

  @include media("md") {
    .header-col,
    .comments-col {
      float: left;
      width: calc(100% - 300px);
    }
    .action-col {
      float: right;
    }
  }

  .header-col {
    margin-bottom: 20px;
    .c-list-item {
      display: flex;
    }
  }

  .action-col {
    margin-bottom: 20px;
    @include media("md") {
      width: 240px;
    }
  }

  .c-tag-list {
    > svg {
      color: get("colors.green.600");
    }
  }
}

.c-response-form {
  .c-post-search {
    .votes {
      text-align: center;
      width: 50px;
      display: inline-block;
    }
    .status-label {
      width: 75px;
      margin-right: 4px;
      text-align: center;
    }
  }
}
