@import "~@fider/assets/styles/variables.scss";

#p-oauth-echo {
  .icon {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .icon.error {
    color: get("colors.red.500");
  }
  .icon.check {
    color: get("colors.green.500");
  }
  .icon.warn {
    color: get("colors.yellow.500");
  }
}
