@import "~@fider/assets/styles/variables.scss";

#p-oauth-echo {
  svg.error {
    color: get("colors.red.500");
  }
  svg.check {
    color: get("colors.green.500");
  }
  svg.warn {
    color: get("colors.yellow.500");
  }
}
