@import "~@fider/assets/styles/variables.scss";

.c-post-list {
  .c-list-item {
    display: flex;
    border-top-width: 0.1px !important;

    .c-list-item-title {
      &:hover {
        color: get("colors.primary");
      }
    }

    .c-list-item-content {
      flex-grow: 1;
      align-self: center;

      .c-tag {
        margin: 0 3px 3px 0;
      }
    }

    .c-list-item-description {
      color: get("colors.gray.700");
      margin-top: 10px;
    }
  }
}

.c-post-list-show-more {
  cursor: pointer;
  font-weight: 500;
  color: get("colors.primary");
  margin-left: 55px;
}
